.item {
  margin: 0.3em;
  cursor: pointer;
  text-decoration: none;
}

.item-background {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.item-background:before {
  position: absolute;
  border-radius: 0.5em;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
}

.content {
  z-index: 2;
}

.title {
  font-size: 1.4em;
  color: white;
}
