.item {
  margin: 0.5rem 0;
  cursor: pointer;
  text-decoration: none;
}

.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  width: 100%;
  border-radius: 0.5rem;
  position: relative;
}

.content {
  z-index: 2;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text);
  text-transform: none;
}

.rating {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.25rem 0.6rem;
  background-color: var(--yellow);
  color: black;
  font-weight: 700;
  border-radius: 0.5rem;
}
