.container {
  color: var(--text);
  margin-bottom: 2rem;
}

.container input {
  padding: 0 2rem;
  border: none;
  outline: none;
  background: transparent;
  color: var(--text);
  font-size: 1.125rem;
}

.container input::placeholder {
  color: var(--text);
  font-weight: 300;
  opacity: 1; /* Firefox */
}

@media only screen and (min-width: 640px) {
  .container {
    margin-bottom: 0;
  }
}
